<h1>About Me</h1>

<div class="row">
  <div class="card card-max-width">
    
    <!-- Titel / Name über dem Bild -->
    <div class="card-content center-align">
      <span class="card-title grey-text text-darken-4"> {{ aboutMe?.name || 'About Me' }} 
      </span> </div> <!-- Bild --> 
      <div class="card-image waves-effect waves-block waves-light"> 
        <img class="activator" [src]="'http://alt.berner-seifenkisten.ch/bilder12/100.jpg'" alt="Profilbild" /> 
      </div> <!-- Formular --> 
      <div class="card-content"> 
        <form #form="ngForm" (ngSubmit)="submit()"> 
          <div class="input-field"> <input type="text" [(ngModel)]="draftAboutMe.name" name="name" required placeholder="Enter your name" /> 
          </div> <button class="waves-effect waves-dark btn" type="submit" [disabled]="form.invalid" > <i class="material-icons">save</i> 
          </button> 
        </form>
    </div>
  </div>
</div>
