<div class="center">
  <div class="card card-max-width">
    <div class="card-content">
      <!-- Titel zeigt NUR gespeicherten Namen -->
      <span class="card-title">
        {{ savedName || 'About Me' }}
    </span>


      <!-- Bild -->
      <div class="img-wrapper">
        <img [src]="aboutMe?.imagePath || '/me.jpg'" alt="Profilbild">
      </div>

      <!-- Eingabefeld -->
      <form (ngSubmit)="save()" *ngIf="aboutMe">
        <label for="name">{{'picture-titel' | translate}}</label>
        <input id="name" name="name" [(ngModel)]="aboutMe.name" placeholder="z. B. About Me">
        <button class="btn" type="submit">{{'save-button' | translate}}</button>
        <p-button label="{{'save-button' | translate}}" type="submit" />
      </form>
    </div>
  </div>
</div>
