<div class="center">
    <div class="card card-max-width">
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">CV</span>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Employer</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    @for (cv of cvs; track cv.employer) {
                    <tr>
                        <td>{{ cv.employer }}</td>
                        <td>{{ cv.start }}</td>
                        <td>{{ cv.end }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>