<form [formGroup]="form" (ngSubmit)="save()">
    <label for="employer">{{'edit-employer' | translate}}</label>
    <input id="employer" formControlName="employer" type="text">
    
    <label for="start">{{'edit-start' | translate}}</label>
    <input id="start" formControlName="start" type="number">
    
    <label for="end">{{'edit-end' | translate}}</label>
    <input id="end" formControlName="end" type="number">

    <button class="btn" [disabled]="form.invalid" type="submit">{{'edit-save' | translate}}</button>
    <button class="btn grey" type="button" onclick="history.back()">{{'edit-cancel' | translate}}</button>
</form>